.homePageContainer {
	display: flex;
	flex-direction: column;
	align-items: center;

	max-width: 600px;
	height: 100vh;
	margin: 0 auto;
	padding: 5rem;
	text-align: center;

	.homePageContent {
		.brainQuizContent {
			display: flex;
			flex-direction: row;
			gap: 16px;
			.brainQuizStats {
				position: relative;
				font-size: 2em;
				cursor: pointer;
			}
		}
		background-color: rgba(14, 14, 14, 0.63);
		width: 40vh;
		height: 70vh;

		border-radius: 4px;
		border: 1px solid rgba(255, 255, 255, 0.15);

		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
	}

	.startButton {
		padding: 0.75rem 1rem;
		font-size: 18px;
		/* фиксируем минимальную ширину */
		min-width: 150px;
		background-color: rgb(94, 32, 198);
		border: none;
		border-radius: 4px;

		width: 90%;
		height: 40px;

		color: #fff5f5;

		&:hover {
			background-color: rgba(94, 32, 198, 0.68);
		}
	}
	.warningText {
		display: block;
		color: #d9534f; // красный цвет
		font-weight: 600;
		transition: opacity 0.3s ease;
	}
}
.homePageContainer.light {
	background-color: #ffffff; /* Светлый фон для светлой темы */
	color: #000000; /* Черный текст */
}

.homePageContainer.dark {
	background-color: #1a1a1a; /* Темный фон для темной темы */
	color: #ffffff; /* Белый текст */
}